<%- model_class = @photo.class -%>
<div class="row">
<div class="span8" id="upload">
<h1 style="text-align:center">Upload Your Silly Daddy!</h1>
<%= render :partial => 'form' %>
</div>
</div>
<%= render 'static_pages/sidebar' %>
</div>
